separator_block_width=15
markup=none

[volume]
command=~/.dotfiles/blocks/volume/volume
label=VOL
interval=once
signal=10

[bandwidth]
command=~/.dotfiles/blocks/bandwidth/bandwidth
interval=5

[battery]
command=~/.dotfiles/blocks/battery/battery
label=BAT
interval=30

[temperature]
command=~/.dotfiles/blocks/temperature/temperature
label=TEMP
interval=10

[memory]
command=~/.dotfiles/blocks/memory/memory
label=MEM
interval=30

[cpu_usage]
command=~/.dotfiles/blocks/cpu_usage/cpu_usage
label=CPU 
interval=10

[time]
command=date '+%Y-%m-%d %H:%M'
interval=5
